﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="WebApplication.AdminsZone.Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
<a href="ManagementCategory.aspx">類別管理</a>
<%= this.ResolveClientUrl("NewCategory.aspx") %>
<a href="NewCategory.aspx">新增類別</a>
<a href="UserManagement.aspx">使用者管理</a>
</asp:Content>
